---
import IndexPage from "../../layouts/IndexPage.astro";
import {sortNotesByZettelId} from "../../utils/sortNotesByZettelId";
import {getCollectionByName} from "../../utils/getCollectionByName";
import * as slipBox from './slip-box-index.md';

let zettels = await getCollectionByName("notes");
let { Content } = slipBox;
let sortedPosts = sortNotesByZettelId(zettels);

---

<IndexPage frontmatter={{ comment: false, title: "Zettelkasten Notes" }}>
  <h1 class="text-3xl fa-2x mb-5 mt-10">Zettelkasten Notes</h1>
  <p class="mt-5">These are my short and timeless notes. Each note has only one idea inside.</p>
  <p class="mt-3">These notes are in my Slip-Box in my Zettelkasten. I keep them for myself but wanted to make it publicly available.</p>
  <p class="mt-3">The number in front of the note indicates a Zettel number in my Slip-Box. I use them to link a note to other notes. The numbering system I adapted is directly from the Zettelkasten.</p>
  <p class="mt-3">If you dive into notes, you'll see all notes are connected to each other but not all notes have sources linked to it. Many notes have references in my non-public Zettelkasten; I didn't want to open up those exact references because there is no value for anyone as they are not well-organized or well-written. Here, I only share the name of the resource instead of the exact reference (e.g., page number in a book).</p>
  <p class="mt-3">All notes have published and update dates. Published dates represent the time I added the note to my Zettelkasten. Yet, many notes has the exact same creation date because I moved my notes between different softwares (from Notion to Obsidian) and lost the creation dates during migration. 🤷</p>

  <p class="mb-10 mt-10">If you want, you can get new notes in your favorite RSS reader via <a class="truncate cursor-pointr mt-1 header-link-active hover:text-skin-active" href="/notes/rss.xml">the dedicated RSS feed</a>.</p>

  <div class="divider-horizontal"/>

  <h2 class="text-2xl fa-2x mb-5 mt-10">Slip Box Index</h2>
  <div>
    <article class="markdown-body">
      <Content/>
    </article>
  </div>
  <div class="divider-horizontal"/>

  <h2 class="text-2xl fa-2x mb-5 mt-10">All Notes</h2>
  <p class="fa-m mb-10 mt-10"><em>Here are all notes are ordered squentially by their Zettel numbers, not chronologically.</em></p>
  <div>
    <ul>
      {
        sortedPosts
        .map((post) => (
        <li style="list-style-type: disc;" class="ml-4 my-2">
          <a class="flex text-l" href={'/notes/' + post.slug}>
            <span class="underline-offset-4 cursor-pointer decoration-skin-base decoration-wavy hover:underline hover:decoration-sky-500"><strong>{post.data.zettelId}:&nbsp;</strong>{post.data.title}</span>
          </a>
        </li>
        )
        )}
      </ul>
    </div>
  </IndexPage>
