---
import IndexPage from '../../layouts/IndexPage.astro'
import Support from '../../components/Support.astro'
---

<IndexPage frontmatter={{ comment: true, title: "Guestbook" }}>
  <h1 class="text-3xl fa-2x mb-5 mt-10">Guestbook</h1>

  <p class="mb-5">One thing I admire in museums is their guestbooks. Have you read any before signing them? I did, and it was always fun to read what others shared after visiting the museum.</p>

  <p class="mb-5">I don't claim to offer you a museum experience. The only thing I offer is what I learn and think. But guestbooks existed in the good old days of blogs. So, this is old school. But so be it.</p>

  <p class="mb-10">Some of you may not want to write a comment on any page here or don't want to send me an email like everyone else. However, you may still want to say a few words. Here is a way to do so.</p>

  <p class="mb-5 text-xs"><em>(P.S. I use the same commenting infrastructure as the other pages, not to invent a wheel from scratch.)</em></p>

  <Support />
</IndexPage>
