@import url('./github-markdown.css');

@import "remixicon/fonts/remixicon.css";
@import "tocbot/dist/tocbot.css";
@import "remark-aside.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "jetbrains-mono";
  src: url('./JetBrainsMono-Regular.ttf');
}

/**
tailwindcss
 */

html {
  height: 100%;
  scroll-padding-top: 72px;
}

body {
  height: 100%;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

@layer base {

  :root,
  html[data-theme="light"] {
    --color-fill: 255, 255, 255;
    --color-fill-secondary: 255, 255, 255;
    --color-card: 63, 210, 221;
    --color-text: 62, 51, 85;
    --color-text-active: 255, 223, 43;
    --color-border: 80, 216, 153;
    --color-border-active: 255, 223, 43;
    --color-modal: 0, 149, 160;
    --color-primary-yellow: 255 223 43;
    --color-primary-green: 80 216 153;
    --color-primary-blue: 63 210 221;
  }

  html[data-theme="dark"] {
    --color-fill: 15, 23, 42;
    --color-fill-secondary: 15, 23, 42;
    --color-card: 0, 149, 160;
    --color-text: 203, 213, 225;
    --color-text-active: 255, 223, 43;
    --color-border: 63, 210, 221;
    --color-border-active: 255, 223, 43;
    --color-modal: 251, 251, 251;
    --color-primary-yellow: 255 223 43;
    --color-primary-green: 63 210 221;
    --color-primary-blue: 0 149 160;
  }

  #sun-icon,
  html[data-theme="dark"] #moon-icon {
    display: none;
  }

  #moon-icon,
  html[data-theme="dark"] #sun-icon {
    display: block;
  }

  .bg-primary-yellow {
    background-color: rgb(var(--color-primary-yellow));
  }

  .bg-primary-green {
    background-color: rgb(var(--color-primary-green));
  }

  .text-black {
    color: black;
  }
}

@layer components {

  .header-link-active {
    @apply underline underline-offset-4 decoration-wavy decoration-skin-active;
  }

  .header-link-hover {
    @apply underline underline-offset-4 decoration-wavy decoration-skin-base;
  }

  .header-btn {
    @apply cursor-pointer border rounded py-1 px-2 bg-skin-fill hover:text-skin-active mx-2 z-10
  }

  .aside-widget {
    @apply flex items-center w-full border-b mb-2;
  }

  .waline-comment-content {
    @apply p-1 overflow-auto max-h-72 break-words hover:text-skin-active;
  }

  .waline-comment-author {
    @apply text-end mb-1 break-words hover:text-skin-active;
  }

  a {
    @apply cursor-pointer;
  }

  .colored-link {
    background-color: transparent;
    cursor: pointer;
    color: rgb(var(--color-primary-blue))
  }
 .colored-link:active,
 .colored-link:hover {
    color: rgb(var(--color-primary-yellow));
 }

  .menu-icon {
    @apply text-xl mr-2
  }

  /* markdown */
  .image-cols-2 {
    @apply grid gap-4 grid-cols-2 my-2
  }

  .image-cols-3 {
    @apply grid gap-4 grid-cols-3 my-2
  }

  .image-cols-4 {
    @apply grid gap-4 grid-cols-4 my-2
  }
}

* {
  scroll-behavior: smooth;
}

.divider-vertical {
  position: relative;
  top: -.06em;
  display: inline-block;
  height: .9em;
  margin: 0 8px;
  vertical-align: middle;
  border-top: 0;
  border-left: 1px solid rgba(0, 0, 0, .06);
  background-color: rgba(var(--color-text), .3);
}

.divider-horizontal {
  display: flex;
  clear: both;
  width: 100%;
  height: 1px;
  min-width: 100%;
  margin: 16px 0;
  background-color: rgba(var(--color-text), .3);
}

.divider-horizontal-mini {
  display: flex;
  clear: both;
  width: 100%;
  height: 1px;
  min-width: 100%;
  margin: 8px 0;
  background-color: rgba(var(--color-text), .3);
}

/* markdown */
.markdown-body {
  background-color: inherit;
}

.markdown-body p,
li,
ul,
ol,
div,
a {
  line-height: 26px;
}

/* waline */
.waline-comment-content-author {
  text-align: end;
  margin-bottom: 6px;
}

.wl-emoji {
  height: 24px;
  display: inline-block;
}

ul,
ol,
menu {
  list-style: none;
}

/* markdown  */
.markdown-body menu,
.markdown-body ul {
  list-style: disc;
}

.markdown-body ol {
  list-style: decimal;
}

.markdown-body img {
  /* margin: 0 auto; */
}


::-webkit-scrollbar {
  width: 10px;
  height: 16px;
  background-color: #edede9;
}

::-webkit-scrollbar-thumb {
  background-color: #c0c4cc;
  border-radius: 4px;
}

.post-sticky {
  font-weight: 400;
  height: 20px;
  padding: 0 6px;
  margin-right: 5px;
  line-height: 20px;
  font-size: 16px;
  white-space: nowrap;
  vertical-align: 2px;
  color: rgb(var(--color-fill));
  background-color: rgb(var(--color-text));
  opacity: 0.8;
  border-radius: 2px 6px;
}

/* ToC */
.is-active-link {
  color: rgb(var(--color-text-active)) !important;
}

#toc a:hover {
  color: rgb(var(--color-text-active));
}

/* tocbot */
.toc-link::before {
  display: none !important;
}


.avatar {
  border-radius: 50%;
  padding: 4px;
  width: 96px;
  height: 96px;
  object-fit: cover;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.expressive-code {
  margin: 1rem 0;
}

/* fix mathjax style */
.MathJax {
  text-align: left !important;
}

.MathJax svg {
  display: inline;
}
