---
import IndexPage from "../..//layouts/IndexPage.astro";

import Friends from "../../components/Friends.astro";
import  {friendshipLinks} from "../../consts";
---

<IndexPage frontmatter={{ comment: true }}>
  <h1 class="text-3xl fa-2x mb-5 mt-10">People I follow</h1>
  <p class="mb-5">I follow these people very closely, mostly via RSS or email lists.</p>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 w-full">
    {friendshipLinks ? friendshipLinks.map((friend) => <Friends {...friend} />) : ""}
  </div>
</IndexPage>
