---
import { site } from "../consts";
import Support from "./Support.astro";
const currentPath = Astro.url.pathname;
---

<div class="my-3 flex items-center justify-between">
  <div class="flex items-center gap-3">
    <a
      class="inline-block text-center p-3 text-l rounded-lg shadow-md font-medium hover:opacity-90 transition-opacity"
      style="background-color: rgb(var(--color-primary-yellow)); color: black;"
      href=`mailto:contact@candostdagdeviren.com?subject=Re:%20${site.url}${currentPath}`
      target="_blank"
    >
      Reply via email
    </a>
    <a class="m-0 text-skin-base" href="#waline">or comment below</a>
  </div>
  <Support />
</div>
