---
import { SITE_TITLE } from "src/config";
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
      >
       {SITE_TITLE}
      </span>
    </h1>
    <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
  </div>
  <div>
    <p class="mb-10 mt-10">
      I'm a Software Engineering Manager at SumUp.
    </p>
    <p class="mb-10">Blogger & Writer. Dragon Boat Paddler. Occasional podcaster and hiker. Seasonal snowboarder. Interested in many things (philosophy, psychology, software design & architecture, urban & industrial design).</p>
  </div>
</section>
