---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="

        "
      >
       Candost Dagdeviren
      </span>
    </h1>
  </div>
  <div>
    <p class="mb-10">
      I'm a writer and software engineering leader. I'm interested in many things like reading good books, philosophy, psychology, software architecture & design, urban & industrial design, exercising, and eating healthy.
    </p>
  </div>
</section>
