
---


---

<form
  action="https://buttondown.com/api/emails/embed-subscribe/candost"
  method="post"
  class="embeddable-buttondown-form flex flex-col max-w-md"
>
  <input type="email" class="border text-l rounded-lg mb-2 p-3" placeholder="Enter your email" name="email" id="bd-email" />
  <input type="submit" class="inline-block text-center p-3 text-l rounded-lg shadow-md hover:opacity-90 transition-opacity"
      style="background-color: rgb(var(--color-primary-yellow)); color: black;" value="Subscribe" />
  <p>
  </p>
</form>