---
import {dealLabel} from "../utils/dealLabel";
const {title, category } = Astro.props
---

<div class="border-b-1">
  <!-- title -->
  <h1 class="break-all text-xl font-bold" style="white-space:pre-wrap; word-break:break-word;">{title}</h1>

  <div class="flex flex-wrap items-center my-2 space-x-2">

    <!-- category -->
    {
      category && dealLabel(category).filter(item => item !== 'uncategorized').map((categoryName) => (
        <i class="ri-folder-3-line"/>
        <a href={"/category/" + categoryName} class="text-wrap break-all  hover:text-skin-active cursor-pointer">{categoryName}</a>
      ))
    }
  </div>
</div>
