---
import {infoLinks} from "../consts";
---

<div class=" mt-10 h-auto-flex w-auto flex flex-col items-center justify-center p-2">
  <div class="flex items-center justify-center flex-wrap">
    {
      infoLinks.map((infoItem) => (
      <a title={infoItem.name} href={infoItem.outlink} target="_blank" aria-label={infoItem.name}>
        <i class={infoItem.icon + " text-2xl mr-2 cursor-pointer"}/>
      </a>
      ))
    }
  </div>
</div>
