---

---
<button type="button" id="theme-btn" class="header-btn" title="Toggles light & dark" aria-label="auto" aria-live="polite">
  <p class="text-xs " id="moon-icon">Dark</p>
  <p class="text-xs" id="sun-icon">Light</p>
</button>
