---
import IndexPage from "../../layouts/IndexPage.astro";
import {sortPostsByDate} from "../../utils/sortPostsByDate";
import {getCollectionByName} from "../../utils/getCollectionByName";

let posts = await getCollectionByName("books");

let sortedPosts = sortPostsByDate(posts);

---

<IndexPage frontmatter={{ comment: false, title: "Book Notes" }}>
  <h1 class="text-3xl fa-2x mb-5 mt-10">Book Notes</h1>
  <p class="mb-5">I share either a full book review or a single-chapter note from the books I read.</p>

  <p class="mb-10">You can get new book notes in your favorite RSS reader via <a class="truncate cursor-pointer mt-1 header-link-active hover:text-skin-active" href="/books/rss.xml">the dedicated RSS feed</a>.</p>

  <div class="divider-horizontal"/>
  <div>
    <ul>
      {
        sortedPosts.map((post) => (
        <div>
          <li style="list-style-type: disc;" class="ml-4 my-2">
            <div>
              <a class="flex text-l underline-offset-4 cursor-pointer decoration-skin-base decoration-wavy hover:underline hover:decoration-sky-500" href={'/books/' + post.slug}>
                {post.data.title}
              </a>
            </div>
          </li>
        </div>
        ))
      }
    </ul>
  </div>
</IndexPage>
