---
import IndexPage from "../../layouts/IndexPage.astro";
import { formatDate } from "../../utils/formatDate";
import * as now from './now.md';

let {Content, frontmatter} = now;
---

<IndexPage frontmatter={frontmatter}>
  <article class="markdown-body">
    {
      (
        <h1>
          {frontmatter.title}
        </h1>
        <p class="text-sm italic">(This is <a href="https://nownownow.com/about?ref=candost.blog">a now page</a>, and if you have your own site <a href="https://nownownow.com/about?ref=candost.blog">you should make one</a>, too.)</p>
        <div class="flex items-center mb-5 italic text-md">
          Last Updated:&nbsp;
          {frontmatter.updateDate &&
            <div class="flex items-center">
              <i class="ri-calendar-2-line mr-1"/>
              <div class="tag">{formatDate(frontmatter.updateDate)}</div>
            </div>}
        </div>
      )
    }

    <Content/>
  </article>
</IndexPage>
