---
import IndexPage from "../../layouts/IndexPage.astro";
import { formatDate } from "../../utils/formatDate";
import * as now from './now.md';

let {Content, frontmatter} = now;
---

<IndexPage frontmatter={frontmatter}>
  <article class="markdown-body">
    {
      (
        <h1>
          {frontmatter.title}
        </h1>
        <div class="flex items-center mb-2">
          Last Updated:&nbsp;
          {frontmatter.updateDate &&
            <div class="flex items-center">
              <i class="ri-calendar-2-fill mr-1"/>
              <div class="tag">{formatDate(frontmatter.updateDate)}</div>
            </div>}
        </div>
      )
    }
    <Content/>
  </article>
</IndexPage>
