---
import IndexPage from "../../layouts/IndexPage.astro";
import {getCollectionByName} from "../../utils/getCollectionByName";
import { sortPostsByDate } from "../../utils/sortPostsByDate";

let posts = await getCollectionByName("podcast");

let sortedPosts = sortPostsByDate(posts);
---

<IndexPage frontmatter={{ comment: false, title: "Software World with Candost Podcast" }}>
  <h1 class="text-2xl fa-2x mb-5 mt-10">Software World with Candost Podcast</h1>
  <p class="mt-5">This is a podcast for software engineers I created and hosted. I uncover the journeys of people and software systems by interviewing the experts or talking alone about software architecture, system design, feedback, engineering leadership.</p>
  <p class="mt-5">It's currently on pause. I'm considering restarting it in the future.</p>

  <p class="mb-10 mt-10">You can get new episodes in your favorite RSS reader via <a class="truncate mt-1 header-link-active cursor-pointer decoration-skin-base hover:text-skin-active" href="/podcast/rss.xml">the dedicated RSS feed</a>.</p>

  <div class="divider-horizontal"/>
  <div>
    <ul>
      {
        sortedPosts
        .map((post) => (
        <li style="list-style-type: disc;" class="ml-4 my-2">
          <div>
            <a class="font-bold flex text-l underline-offset-4 cursor-pointer decoration-skin-base decoration-wavy hover:underline hover:decoration-sky-500" target="_blank" href={post.data.externalUrl}>
              {post.data.title}
            </a>
          </div>
        </li>
        )
        )}
      </ul>
    </div>
  </IndexPage>
