---
import BlogPost from "../../layouts/BlogPost.astro";
import PostTitle from "../../components/PostTitle.astro";
import BlogFooter from "../../components/BlogFooter.astro";
import { getCollectionByName } from "../../utils/getCollectionByName";

export const prerender = true;

export async function getStaticPaths() {
  let blogEntries = await getCollectionByName("newsletter");
  return blogEntries.map((entry) => {
    return {
      params: { slug: entry.slug },
      props: { entry },
    };
  });
}
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BlogPost frontmatter={{ comment: true, ...entry.data }}>
  <div>
    <p class="text-sm italic mb-3">
      <i class="ri-pen-nib-line mr-2 mt-2"></i><a href="/newsletter">Newsletter Issue</a>
    </p>
    <PostTitle {...entry.data} />
    <div class="divider-horizontal"></div>
    <article class="markdown-body">
      <Content />
    </article>
    <div class="divider-horizontal"></div>
    <BlogFooter
      title={entry.data.title}
      url={entry.collection == "posts" ? "/" + entry.slug : entry.collection + "/" + entry.slug}
      date={entry.data.date}
    />
  </div>
</BlogPost>
