---
import IndexPage from "../../layouts/IndexPage.astro";
import { formatDate } from "../../utils/formatDate";
import { sortPostsByIssueNumberDec } from "../../utils/sortByIssueNumber";
import getPostsByTag from "../../utils/getPostsByTag";
import { getAllContent } from "../../utils/getAllContent";
import NewsletterForm from "../../components/NewsletterForm.astro";

let allPosts = await getAllContent();
let mediations = getPostsByTag(allPosts, "mediations");
let sortedMediations = await sortPostsByIssueNumberDec(mediations);

---

<IndexPage frontmatter={{ comment: false, title: "Mediations Newsletter" }}>
  <h1 class="text-3xl mb-5 mt-10">Mediations Newsletter</h1>
  <p>Timeless insights into humans, software, and leadership.</p>
  <p class="mt-5">Join hundreds of subscribers and learn how to live fully, feel accomplished and get your job done.</p>
  <p>Every second Tuesday. For free.</p>
  <NewsletterForm/>
<div>
  Archive:
  <ul>

    {
      sortedMediations
      .map((post) => (
      <li style="list-style-type: disc;" class="ml-4 my-2">
        <a class="flex text-l" href={post.collection == 'posts' ? '/' + post.slug : '/' + post.collection + '/' + post.slug}>
          <span class="mr-5 text-l hover:none hover:none">{formatDate(post.data.date)} </span>
          <span class="underline-offset-4 cursor-pointer decoration-skin-base decoration-wavy hover:underline hover:decoration-sky-500"><strong>{post.data.newsletterName} #{post.data.issueNumber}:&nbsp;</strong>{post.data.title}</span>
        </a>
      </li>
      )
      )}
    </ul>
  </div>
  <div>
    <p class="italic text-sm">You can also get new letters to your favorite RSS reader via <a class="truncate cursor-pointer mt-1 header-link-active hover:text-skin-active" href="/newsletter/rss.xml">the dedicated RSS feed</a>.</p>
    <div class="divider-horizontal"/>
    <p class="mb-10 mt-10 text-sm">I used to write another newsletter called Mektup. If you want to find the archives,  <a class="underline-offset-4 cursor-pointer decoration-skin-base decoration-wavy hover:underline hover:decoration-sky-500" href="/mektup/">click here.</a></p>
  </div>
</IndexPage>
