---
import IndexPage from "../../layouts/IndexPage.astro";
import NewsletterForm from "../../components/NewsletterForm.astro";

---

<IndexPage frontmatter={{ comment: false, title: "Thanks for listening!" }}>
  <h1 class="text-3xl mb-5 mt-10">Thanks for listening!</h1>
  <p>It's great to see that you would like get in touch.</p>

  <h2 class="text-xl mt-10">How can you follow me?</h2>
  <p class="mt-5">The best way to follow me is to join hundreds of subscribers and learn how to live fully, feel accomplished and get your job done. I share timeless insights into humans, software, and leadership. Every second Tuesday. For free.</p>

  <div style="width: 100%; height=400px"><NewsletterForm /></div>

  <p class="mt-5">If you use RSS reader, you can add <a class="truncate cursor-pointer mt-1 header-link-active hover:text-skin-active" href="/feeds">my RSS feed</a> to your RSS reader app.</p>
  <div>

  <p class="mt-5">If you like, you can also follow me <a class="truncate cursor-pointer mt-1 header-link-active hover:text-skin-active" href="https://www.linkedin.com/comm/mynetwork/discovery-see-all?usecase=PEOPLE_FOLLOWS&followMember=candost">on LinkedIn</a>. Don't forget to add a note in connection request and mention the place you listened to me so I can comfortably accept your invitation.</p>

  <h2 class="text-xl mt-10">How can you contact me?</h2>
  <p class="mt-5">You can send me an email via <a class="truncate cursor-pointer mt-1 header-link-active hover:text-skin-active" href="mailto:contact@candostdagdeviren.com">contact[at]candostdagdeviren[dot]com</a>. If you share your feedback about my talk, it will make my day.</p>

  <p class="mt-5">No sales pitches, no marketing emails, please. I won't answer them.</p>
  </div>
</IndexPage>
