---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BlogAside from '../components/BlogAside.astro';
import Comment from '../components/Comment.astro';
import { comment } from "../consts";

const { frontmatter = { comment: false } } = Astro.props;
---

<html lang="en">
<BaseHead title={frontmatter.title} description={frontmatter.description} />

<body class="bg-skin-secondary relative">
  <Header />
  <main class="container p-4 pt-20 text-skin-base pb-32 min-h-full relative" id="app">
    <div class="grid grid-cols-4 gap-8">
      <div class="col-span-4 xl:col-span-3 space-y-6">
        <slot />
        {(frontmatter.comment && comment.enable) ? <Comment /> : null}
      </div>
      <div class="hidden xl:block space-y-6">
        <BlogAside />

      </div>
    </div>
    <Footer />
  </main>
</body>
<script>
  document.body.querySelectorAll("a").forEach(item => {
    item.setAttribute("rel", "nofollow noreferrer");
  });
</script>
</html>
